
<div class='groups-container'>
  {{#power-select-multiple
    search=(action "searchRepo")
    options=model
    placeholder="Select conversations to Search"
    selected=group
    onchange=(action (mut group))
    as |group|
  }}
    {{!-- <i class="fa fa-users fa-lg" aria-hidden="true"></i> {{group.name}} --}}
    {{group.name}}
  {{/power-select-multiple}}
</div>
<div class="search-container">
  {{input value=term keyPress=(action 'onKeyPress') placeholder="Type search term"}}
  <button onclick={{action 'searchChatRooms'}}>Search</button>
</div>

<div class="results-container">
  <h4>Results Found: {{resultsCount}}</h4>

  <div class="resultCountContainer">
    {{#each sortedResults as |chatRoomName|}}
      <span class="resultCountBubble">{{chatRoomName.name}}: {{chatRoomName.results.length}}</span>
    {{/each}}
  </div>

  <br />

  {{#each resultsContent as |result|}}    
      {{result.chatRoomName}}
      <li>{{result.from.name}}: {{result.body}} ({{convert-timestamp result.created}})</li>
      <hr />
  {{/each}}
  </div>

