
<div class='groups-container'>
  {{#power-select-multiple
    search=(action "searchRepo")
    options=model
    placeholder="Select conversations to Search"
    selected=group
    onchange=(action (mut group))
    as |group|
  }}
    {{!-- <i class="fa fa-users fa-lg" aria-hidden="true"></i> {{group.name}} --}}
    {{group.name}}
  {{/power-select-multiple}}
</div>
<div class="search-container">
  {{input value=term keyPress=(action 'onKeyPress') placeholder="Type search term"}}
  <button onclick={{action 'searchChatRooms'}}>Search</button>
</div>

<div class="results-container">
  <h4>Results Found: {{resultsCount}}</h4>

  <div class="resultCountContainer">
    {{#each sortedResults as |chatRoom|}}
      <a class="resultCountBubble" href="#{{chatRoom.jid}}">{{chatRoom.name}}: {{chatRoom.results.length}}</a>
    {{/each}}
  </div>

  <br />

  {{#each sortedResults as |chatRoom|}}
    {{#if chatRoom.results.length}}
      <span id="{{chatRoom.jid}}">{{chatRoom.name}}</span>
      <ul>
        {{#each chatRoom.results as |result|}}    
            <li>
                <span class="result-header">{{result.from.name}} | {{convert-timestamp result.created}}</span>
                <div class="result-body">{{result.body}}</div>
            </li>
        {{/each}}
      </ul>
      <hr />
    {{/if}}
  {{/each}}
  </div>

